<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 stats-banner justify-content-center" role="banner">
    <div class="">
        <div>
            <p><a href="/#users"><i class="fa fa-quote-left" aria-hidden="true"></i> >160 citations</a></p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <p><i class="fa fa-users" aria-hidden="true"></i> >20,000 users</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <p><a href="https://rubygems.org/gems/sequenceserver" target="_blank" rel="noreferrer"><i class="fa fa-download" aria-hidden="true"></i> >100,000 downloads</a></p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <p><a href="https://github.com/wurmlab/sequenceserver" target="_blank" rel="noreferrer"><i class="fa fa-star" aria-hidden="true"></i> >300 GitHub stars &amp forks</a></p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <p><i class="fa fa-calendar" aria-hidden="true"></i> Empowering biologists since 2011</p>
        </div>
    </div>
</div>
